set autoindent
set boldtext
set smooth
set const
set nohelp
set morespace
set multibuffer
set tabsize 2
set historylog
set tabstospaces

syntax "C/C++" "\.(c|h|cpp|bashrc|bash_profile)$"
color cyan "#.*"
color brightred "//.*"
color Brightmagenta "<<<.*"
color brightred start="\/\*" end="\*/"
#color brightmagenta "WTF|GTFO|IMP"

syntax "Python" "\.py$"
color cyan "import"
color brightred "#.*"
#color brightred "['][^']*[^\\][']" "[']{3}.*[^\\][']{3}"
#color brightred "["][^"]*[^\\]["]" "["]{3}.*[^\\]["]{3}"
color brightred start=""""[^"]" end=""""" start="'''[^']" end="'''"
color Brightmagenta "<<<.*"

syntax "HTML" "\.html$"
color cyan "#.*"
color cyan "<"
color cyan ">"
color brightyellow "</"
color brightred start="<!--" end="-->"
color Brightmagenta "<<<.*"

syntax "CSS" "\.css$"
color brightred start="\/\*" end="\*/"
color Brightmagenta "<<<.*"

syntax "PERL" "\.pl$"
color brightred "#.*"

syntax "php" ".*/*.php$"
color white "\{|\}|\."
color cyan "('[^']*')"
color cyan "\"[^\"]*\""
color brightmagenta "(\$([[:alpha:]_]|->)*)"
color brightgreen "((\$(([[:alpha:]_0-9])+\->)+)[[:alpha:]_0-9]+\()"
color yellow " (if|else if|else|return|case|break)"
color yellow "\|\||\?|!|\||&&|=|;|\(|\)"
color brightred "false|true"
color white "[[:space:]]+debug|[[:space:]]+echo|\$this\->debug"
color brightred "//.*"
color brightred start="/\*" end="\*/"
